pytest
pytest-asyncio
nest_asyncio
psutil
python-dotenv
aiosqlite
pymysql
aiomysql
cryptography
psycopg2-binary
asyncpg
arq
pyyaml
docker
opensearch-py 
boto3 
requests-aws4auth
aioredis
fastapi
aiohttp
jinja2
python-digitalocean 
paramiko
